<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../../viewPage.css">
      <title></title>
   </head>
   <body>
      <%- include('../partials/nav.ejs')%>
      <% for(i=0;i<cards.length;i++){ %>
            <div class="card-container">
               <a class='mtgCard' href="/card/<%=cards[i].id%>">
               <div class="card-background">
                  <div class="card-frame">
                     <div class="frame-header">
                        <h1 class='title'><%=cards[i].name%></h1>
                        <%if(cards[i].color.Colorless > 0){ %>
                        <h1 class='colorless mana'><%=cards[i].color.Colorless%></h1>
                        <% } if(cards[i].color.Blue > 0) { %>
                        <h1 class='blue mana'><%=cards[i].color.Blue%></h1>
                        <% } if(cards[i].color.Green > 0) { %>
                        <h1 class='green mana'><%=cards[i].color.Green%></h1>
                        <% } if(cards[i].color.Red > 0) { %>
                        <h1 class='red mana'><%=cards[i].color.Red%></h1>
                        <% } if(cards[i].color.White > 0) { %>
                        <h1 class='white mana'><%=cards[i].color.White%></h1>
                        <% } if(cards[i].color.Black > 0) { %>
                        <h1 class='black mana'><%=cards[i].color.Black%></h1>
                        <% } %>
                     </div>
                        <div class="imageContainer">
                           <img src="<%=cards[i].img%>" alt="Card Image">
                       </div>
                       <div class="frame-type-line">
                         <h1><%=cards[i].type%></h1>
                       </div>
                       <div class="frame-text-box">
                         <p><%=cards[i].abilities%></p>
                       </div>
                       <div class="stats">
                          <%=cards[i].power%>/<%=cards[i].toughness%>
                       </div>
                  </div>
               </div>
            </div>
         </a>
      <% } %>
   </body>
</html>
