<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <%- include('../partials/cssCleaner.ejs') %>
      <link rel="stylesheet" href="../../showpage.css">
      <title>Show Page</title>
      <%- include('../partials/background.ejs') %>
   </head>
   <body>
      <nav class='navbar'>
         <a class='navimg' href="/card"><img src="../images/iconPhoto.jpg" alt=""></a>
         <a class='edit' href="/card/<%=card.id%>/edit"><h1>Edit Card</h1></a>
         <form class='deleteForm' action="/card/<%=card.id%>?_method=DELETE"   method="post">
            <input class='delete' type="submit" value="DELETE">
         </form>
      </nav>
      <% if (currentUser) { %>
         <h4>Welcome: <%=currentUser.username%></h4>
      <% } %>
      <div class="card-container">
         <div class="card-background">
            <div class="card-frame">
               <div class="frame-header">
                  <h1 class='title'><%=card.name%></h1>
                  <%if(card.color.Colorless > 0){%>
                  <h1 class='colorless mana'><%=card.color.Colorless%></h1>
                  <% } if(card.color.Blue > 0) { %>
                  <h1 class='blue mana'><%=card.color.Blue%></h1>
                  <% } if(card.color.Green > 0) {%>
                  <h1 class='green mana'><%=card.color.Green%></h1>
                  <% } if(card.color.Red > 0) {%>
                  <h1 class='red mana'><%=card.color.Red%></h1>
                  <% } if(card.color.White > 0) {%>
                  <h1 class='white mana'><%=card.color.White%></h1>
                  <% } if(card.color.Black > 0) {%>
                  <h1 class='black mana'><%=card.color.Black%></h1>
                  <% } %>
               </div>
                  <div class="imageContainer">
                     <img src="<%=card.img%>" alt="Card Image">
                 </div>
                 <div class="frame-type-line">
                   <h1><%=card.type%></h1>
                 </div>
                 <div class="frame-text-box">
                   <p><%=card.abilities%></p>
                 </div>
                 <div class="stats">
                    <%=card.power%>/<%=card.toughness%>
                 </div>
            </div>
         </div>
      </div>
   </body>
</html>
